body {
    background-color: #6200EA;
    color: #fff;
    overflow-x: hidden
}

button:focus {
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    border: none;
    outline-width: 0
}

.card {
    border-radius: 10px;
    border: none;
    background-color: #FFB74D;
    padding-bottom: 0px;
    padding-top: 20px;
    margin-top: 80px;
    margin-bottom: 80px
}

.left-side {
    height: 100%
}

.btn-pink {
    background: #FF5252;
    font-size: 16px;
    color: #fff;
    width: 150px;
    height: 40px;
    border: 1px solid #FF5252;
    text-transform: uppercase;
    margin-top: 20px
}

.btn-pink:hover {
    background: #F44336;
    color: #fff
}

.fit-image {
    width: 100%;
    object-fit: cover
}

.boy-img {
    height: 320px;
    width: 360px
}